<div id="search-panel-head" class="col-md-12"> 
  <h1 id="search-title" align=center> Book Search </h1>

  <div id="remote" align=center>
    <input class="typeahead form-control" id="search-bar" type="text" placeholder="Search By Book Title"> 
    <div id="search-submit" class="btn my-btn-info"> Search </div>
  </div>
</div>

<div id="search-panel-result" class="col-md-8 col-md-offset-2">
</div>

