<li><a id="sign-in-btn" href="#">Sign In</a></li>
<li class="divider-vertical"></li>

<li class="my-dropdown">
  <a id="sign-up-btn" href="#" >Sign Up <strong class="caret"></strong></a>
  <div class="my-dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
    <form id="sign-up-form" style="margin:10px">
      <input style="margin-bottom: 15px;" type="text" name="user[name]" size="30" placeholder="Username"/>
      <input style="margin-bottom: 15px;" type="text" name="user[email]" size="30" placeholder="Email"/>
      <input style="margin-bottom: 15px;" type="password" name="user[password]" size="30" placeholder="Password"/>
      <input style="margin-bottom: 15px;" type="password" name="user[password_confirmation]" size="30" placeholder="Password Confirmation"/>             
      <input id="sign-up-submit-btn" class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="Sign Up" name="commit" value="Sign In" />
    </form>
  </div>
</li>