<li> <a class="status" id="consoleToggle"> Signed in as <span style="color: #ee6"> <%= name %> </span> </a> <li>
<li> <a id="sign-out-btn" class="btn my-btn-danger" style="color: white"> Sign Out </a> </li>