<form class="navbar-search pull-right sign-in-form">
    <input type="text"  placeholder="Email" name="user[email]">
    <input type="password" placeholder="Password" name="user[password]">
    <input type="submit" value="Login" class="btn my-btn-info" id="signin-submit-btn"/>
    <input type="submit" value="Cancel" class="btn my-btn-danger" id="cancel-signin-btn"/>
</form>