<nav id="top-navbar" class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <a class="navbar-brand" href="#">Anizon</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/news">News</a></li>
        <li><a href="#" class="my-dropdown">Category <b class="caret"></b></a>
          <ul class="my-dropdown-menu">
            <li><a href="#/items/geometry">Geometry</a></li>
            <li><a href="#/items/algebra">Algebra</a></li>
            <li><a href="#/items/analysis">Analysis</a></li>
            <li><a href="#/items/probability">Probability</a></li>
            <li><a href="#/items/numerical"> Numerical Analysis </a></li>
          </ul>
        </li>
        <li><a id="search" class="glyphicon glyphicon glyphicon-search" href="#/search"></a></li> 
        <li><a id="cart" class="glyphicon glyphicon-shopping-cart" href="#"></a></li>
      </ul>
      <ul id="top-navbar-right" class="nav navbar-nav navbar-right" style="margin-right: 10%;">
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>