// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$topNavBackground: black;

body{

  #top-navbar{
    background-color: $topNavBackground;
    border-radius: 0px;

    .navbar-brand {

    }

    .navbar-brand:hover{
      cursor: default;
    }
  }



  #sign-in-form{
    display: none;
    margin-bottom: 0px;
  }
}