<section class="popular-entry">
<h5 class="popular-title"> <%= item.escape("title") %> <span class="glyphicon glyphicon-shopping-cart addToCart"></span> </h5>
<p class="popular-clicks"> <span> <%= item.escape("clicks") %> </span> hits </p>
</section>