<!-- 	<img data-src="holder.js/100%x180" alt="Image Not Available"> -->
<div> <!-- style="position:absolute"> --> 
   $<%= cartItem.escape('price') %>
</div>
<h6> Quantity: <%= cartItem.escape('quantity')%> </h6>
<div style="position:absolute;right: 8px; top: 5px;;">
<a href="#" id="removeCartItem" class="removeCartItem glyphicon glyphicon-remove"> </a>
<a href="#" id="editQuantity" class="editQuantity glyphicon glyphicon-edit"></a> <br>
</div>
<h4> <%= cartItem.escape('title') %> </h4>
