<!-- 	<img data-src="holder.js/100%x180" alt="Image Not Available"> -->
<div> <!-- style="position:absolute"> --> 
   $<%= cartItem.escape('price') %>
</div>
<a href="#" id="editQuantity" class="editQuantity glyphicon glyphicon-edit"></a> <br>
<h6> Quantity: <%= cartItem.escape('quantity')%> </h6>
<a href="#" id="removeCartItem" class="removeCartItem glyphicon glyphicon-remove" style="position:absolute;right:0"> </a>
<h4> <%= cartItem.title %> </h4>
