<div id="hideCart" class="col-md-12">
  <span class="glyphicon glyphicon-chevron-down">
</div>
<div id="cartBody" class="col-md-12" >
  <div id="cartScrollLeft" class="col-md-1"> 
    <span class="glyphicon glyphicon-chevron-left"></span>
  </div>
  <div id="itemsContainer" class="col-md-10">
    Cart Content
  </div>
  <div id="cartScrollRight" class="col-md-1"> 
    <span class="glyphicon glyphicon-chevron-right"></span> 
  </div>
</div>
