<div id="hideCart" class="col-md-12"> Hide</div>
<div id="cartBody" class="col-md-12" >
  <div id="cartScrollUp" class="col-md-1"> Up </div>
  <div id="itemsContainer" class="col-md-10">
    Cart Content
  </div>
  <div id="cartScrollDown" class="col-md-1">Down </div>
</div>
