<a href="#" class="thumbnail" style="position:relative">
  <div style="position:absolute"> 
     $<%= cartItem.escape('price') %>
  </div>
  <img data-src="holder.js/100%x180" alt="Image Not Available">
</a>