<div class="jumbotron" style="margin-top:200px; opacity: 0.9">
  <h1> Welcome to Anizon </h1>  <br>

  <div style="float:right">
    <h4> Don't like this lame wallpaper? </h4>
    <input id="wallpaperUrl" placeholder="wallpaper url here..."> 
    <button id="wallpaperUrl-btn" class="btn my-btn-info" > <h6> Change Me! </h6> </button>
  </div>

  <h4> A demo site with Shopping Cart and Shit </h4>


  <a href="#/about" style="text-decoration:none;color:black"> <h4> About Me </h4></a>

</div>