<div class="jumbotron" style="margin-top:50px; opacity: 0.9">
  <h1> Welcome to Anizon </h1>  <br>

  <div style="float:right">
	    <h4> Don't like this lame wallpaper? </h4>
	    <input id="wallpaperUrl" placeholder="wallpaper url here..."> 
	    <button id="wallpaperUrl-btn" class="btn my-btn-info" > <h6> Change Me! </h6> </button>
	    <br>
	    <select class="selectpicker" data-style="btn-inverse">
	    	<option value="http://cdn.wallwuzz.com/uploads/vector-wallpaper-patterns-black-wallpapers-array-wallwuzz-hd-wallpaper-7577.png"> Mystic Grim </option>
	   	  <option value="http://www.coolhdbackground.com/wp-content/uploads/2013/09/Autumn-Leaves-Fall-Road-Wallpaper.jpg">Autum Leaf</option>
	      <option value="http://hdwallpaper.freehdw.com/0004/3d-abstract_other_winter-sun_37332.jpg">Winter Sun </option>
	      <option value="http://www.99hdwallpaper.com/summer/wallpapers/summer-sea-wallpaper.jpg">Summer Aqua</option>
	      <option value="http://space1eleven.files.wordpress.com/2012/05/dsc_2836.jpg">Spring Haze</option>
	    </select>
  </div>

  <h4> A demo shopping site. It has:  </h4>
  <ul>
    <li>Ajax Authentication </li>
    <li>Cookie storage for Guest user </li>
    <li>Draggable item onto the shopping cart</li>
    <li>Auto hide shopping cart (show on drag)</li>
    <li>Comment, Rating, Ranking system </li>
    <li>arxiv feed and on page reader </li>
    <li>Hand made horizontal Slide and pagination </li>
    <li>Dynamically update current Total </li>
  </ul>


  <a href="http://ranxie.us" target="_blank" style="text-decoration:none;color:black"> <h4> About Me </h4></a>

</div>