<h1 align=center> Dev Log </h1>

<ul><h3 class="label label-danger" style="padding-left:0"> Unresolved Issues</h3>
<li><strike>Automatically update status bar when the page is loaded with session token</strike></li>
<li>Unable to set Sign Up form background color </li>
</ul>

<br>
<br>

<h3 class="label label-info"> 2014-05-22 Thur 12pm </h3>
  
<p> Refactored Backbone Views, added ajax sign in persistence </p>

<h3 class="label label-info"> 2014-05-21 Wed 11pm </h3>
	
<p>	News Panel can render new list now  </p>


<h3 class="label label-info"> 2014-05-21 Wed 6pm </h3>
	
<p>	Basic Ajax Sign Up/In and News Panel created </p>