<form id="sign-in-form">
  <labe for="sign-in-email">Email: </label>
  <input id="sign-in-email" type="text" name=user[email]>
  <labe for="sign-in-password">Password: </label>
  <input id="sign-in-password" type="password" name=user[password]>
</form>