<form id="sign-up-form" class="navbar-form navbar-right">

  <label for="sign-up-name"> Name: </label>
  <input id="sign-up-name" type="text" name=user[name]>

  <label for="sign-up-email">Email: </label>
  <input id="sign-up-email" type="text" name=user[email]>

  <label for="sign-up-password">Password: </label>
  <input id="sign-up-password" type="password" name=user[password]>

  <label for="sign-up-password-confirmation">Password Confirmation: </label>
  <input id="sign-up-password-confirmation" type="password" name=user[password_confirmation]> 
  
</form>