/*Bottom */

.cartSideBar{
  position: fixed;
/*  z-index: 128;*/
  z-index: auto;
  bottom:0;
  width:100%;
  background-color: black;
  opacity: 0.95;
  color: white;
}

#hideCart{
  height:30px;
  text-align: center;
}

#cartBody{
  background-color: black;
  height:150px;
}

#itemsContainer{
  background-color: #111111;
  overflow-x: scroll;
}

#itemsContainer .cartItem{
  height:130px;
  margin-top: 3px;
  display: inline;
}

#cartScrollLeft{
  height: 150px;
}

#cartScrollRight{
  height: 150px;
}

#cartScrollLeft span, #cartScrollRight span{
  top: 45%;
  left:40%;
}

#hideCart:hover, #cartScrollLeft:hover, #cartScrollRight:hover{
  background-color: #333333;
}

#cartMenu{
  height: 150px;
}

.floatingDialog{
  color:black;
  position: absolute;
  top: 18%;
  opacity: 0.9;
  background-color: #acacac;
  border-radius: 5px;
  z-index: 400;
  overflow-x: hidden;

}