<div class="thingrow scrollable">
	<table>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
	<div class="thing" > ADJD</div>
</table>
</div>



<script>

window._prevScroll = 0;

// $(".scrollable").scroll(function(event){
// 	 var _currentScroll = $(this).scrollTop();
// 	 window.scrollAmount = _currentScroll - window._prevScroll;
// 	 console.log(window.scrollAmount);
// 	 this.scrollByLines(window.scrollAmount / 100);
// 	 window._prevScroll = _currentScroll;
// })

$('.scrollable').on('mousewheel', scrollHandler);


function scrollHandler(event){
	 event.preventDefault();
	 var pos = $(this).scrollTop() - 7 * event.deltaY * event.deltaFactor;
	 console.log(pos);
	 $('.scrollable').unbind('mousewheel',scrollHandler);
	 $(this).scrollTo(pos, 600, function(){
	 		$('.scrollable').bind('mousewheel', scrollHandler);
	 });

};

</script>