
<div id="console-control">  </div>
<div id="console-input"> 
  <span id="console-prefix"> 
  <% if(Anizon.name){ %>
  <%= Anizon.name%> @ <%= Anizon.name%>:~/
  <% }else{ %>
    Anon@Anon:~/
  <% } %>
  </span>
  <input type="text" id="input-command">

</div>
<div id="console-content"> </div>

