<div class="col-sm-6 col-md-3" style="height:200px">
  <div class="thumbnail">
    <img data-src="holder.js/200x170" alt="Image Not Available">
    <div class="caption">
      <h5><%= item.escape("title") %></h5>
      <p>Price: $<%= item.escape("price") %></p>
    </div>
  </div>
</div>