<div style="border:none">
    <img data-src="holder.js/200x170" alt="/assets/images/no_image.jpg">
    <div class="caption">
      <h4> <%= item.escape("title") %></h4>
      <h5>Price: $<%= item.escape("price") %></h5>
      <h5> <a href="#"> Look inside </a> </h5>
    </div>
</div>
