<div href="#" class="thumbnail" style="margin-left:15%;height:200px; width: 150px; overflow-y: hidden; border:none">
  <img src="<%= item.escape("img")%>" data-src="holder.js/100x100" alt="">
</div>
<div class="caption" style="margin-left:15%">
  <h4> <%= item.escape("title") %></h4>
  <h5>Price: $<%= item.escape("price") %></h5>
  <h5> <a href="#" class="addToCart"> Add to Cart </a> </h5>
  <h5> <a href="#" class="itemDetail"> Look inside </a> </h5>
</div>
