<div class="panel panel-default">
	<div class="panel-heading">
	  <h1 style="margin-bottom: 1em"><%= books.cat %></h1>
	</div>
</div>

<div id="items-panel" class="panel panel-default col-md-10 col-md-offset-1"> </div>