<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <img data-src="holder.js/300x200" alt="Image Not Available">
    <div class="caption">
      <h3><%= item.escape("title") %></h3>
      <p>$<%= item.escape("price") %></p>
    </div>
  </div>
</div>