<h1>Product Panel</h1>
<row>
  <div class="col-md-2 left-transparent-gradient guard" style="left:0"> </div>
  <div id="items-panel" class="col-md-10"> </div>
  <div class="col-md-2 right-transparent-gradient guard" style="right:0"> </div>
</row>