<h1 style="margin-bottom: 0.5em; margin-top: 0; color:white; font-weight:500;"><%= books.cat.charAt(0).toUpperCase() + books.cat.slice(1) %></h1>

<div>
  <div class="scrollbar">
      <div class="handle"></div>
  </div>
  <div class="frame" id="items-frame" style="overflow:hidden">
    <ul id="items-panel" class="slidee"> </ul>
  </div>
</div>
